name: Feature

on:
  pull_request:
    branches:
      - main

jobs:
  build_feature:
    name: PR - ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: windows msvc
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug

          - os: macos-latest
            name: macos
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"

          - os: ubuntu-latest
            name: ubuntu
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug

          - os: windows-latest
            name: windows msvc Juce 801
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DSST_JUCEGUI_JUCE_VERSION="8.0.1"

          - os: windows-latest-802
            name: windows msvc Juce 802
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DSST_JUCEGUI_JUCE_VERSION="8.0.2"

          - os: macos-latest-802
            name: macos Juce 802
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DSST_JUCEGUI_JUCE_VERSION="8.0.2" -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"

          - os: macos-latest-801
            name: macos Juce 801
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DSST_JUCEGUI_JUCE_VERSION="8.0.1" -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"

          - os: ubuntu-latest-801
            name: ubuntu Juce 801
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DSST_JUCEGUI_JUCE_VERSION="8.0.1"

          - os: ubuntu-latest-802
            name: ubuntu Juce 802
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DSST_JUCEGUI_JUCE_VERSION="8.0.2"

          - os: windows-latest
            name: windows unity
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DCMAKE_UNITY_BUILD=TRUE

          - os: macos-latest
            name: macos unity
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DCMAKE_UNITY_BUILD=TRUE -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"

          - os: ubuntu-latest
            name: ubuntu unity
            cmakeArgs: -DCMAKE_BUILD_TYPE=Debug -DCMAKE_UNITY_BUILD=TRUE

          - os: ubuntu-latest
            name: ubuntu unity release
            cmakeArgs: -DCMAKE_BUILD_TYPE=Release -DCMAKE_UNITY_BUILD=TRUE


    steps:


      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Prepare for JUCE
        uses: surge-synthesizer/sst-githubactions/prepare-for-juce@main
        with:
          os: ${{ runner.os }}

      - name: Build binary
        run: |
          cmake -S . -B ./build ${{ matrix.cmakeArgs }} -DSST_JUCEGUI_BUILD_EXAMPLES=TRUE 
          cmake --build ./build --config Debug
