name: Feature

on:
  pull_request:
    branches:
      - main

jobs:
  build_feature:
    name: PR - ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: windows msvc
            cmakeArgs:

          - os: macos-latest
            name: macos
            cmakeArgs:

          - os: ubuntu-latest
            name: ubuntu
            cmakeArgs:

          - os: windows-latest
            name: windows unity
            cmakeArgs: -DCMAKE_UNITY_BUILD=TRUE

          - os: macos-latest
            name: macos unity
            cmakeArgs: -DCMAKE_UNITY_BUILD=TRUE

          - os: ubuntu-latest
            name: ubuntu unity
            cmakeArgs: -DCMAKE_UNITY_BUILD=TRUE


    steps:


      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Prepare for JUCE
        uses: surge-synthesizer/sst-githubactions/prepare-for-juce@main
        with:
          os: ${{ runner.os }}

      - name: Build binary
        run: |
          cmake -S . -B ./build ${{ matrix.cmakeArgs }} -DCMAKE_BUILD_TYPE=Debug -DSST_JUCEGUI_BUILD_EXAMPLES=TRUE -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"
          cmake --build ./build --config Debug
